<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://images3.alphacoders.com/109/1099104.jpg" width="100%">
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure in ab ad deserunt veniam suscipit quasi minima, natus reprehenderit sit nesciunt quae, maiores autem repellat repellendus consequatur, atque modi earum.
        </p>
    </div>
</div>